
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iris Predictor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  <title> Weather Prediction </title>
  </head>
  <body>
  <div class="block">
          <section class="hero is-dark is-bold">
              <div class="hero-body">
                  <div class="container has-text-centered">
                      <h1 class="title">Result Prediction</h1>
                      <h2 class="subtitle">Weather Report</h2>
                  </div><br>

              </div></section>
			  </div>
	 <div class="card-content">
                  <div class="media-content">

                      <p class="title">Weather is : {{prediction}}</p>
					  </div>
  </div>

    <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <strong>Diwaker Prashar | 2021 </strong>.<br>
                <a href="https://github.com/Diwakerprashar">Github</a>.<a href="https://dashboard.heroku.com/apps">Website</a>.
              </p>
            </div>
          </footer>
  </body>
</html>
